# Data Science Tools and Ecosystems

In [ ]:
# Introduction text: In this notebook, Data Science Tools and Ecosystems are summarized

**In this notebook, Data Science Tools and Ecosystems are summarized**

In [ ]:
# Objectives

**Objectives:**

 **.** List Data Science Libraries.

 **.** List Data Science Languages.

 **.** Create table of Data Science Tools.
 
 **.** List Arithmetic Expressions examples.

In [ ]:
# List Data Science Languages

**Some of the popular languages data scientist use are:**

**1 . Python**

**2 . Scala**

**3 . SQL**

**4 . Julia**

**5 . Ruby**

**6 . R**

In [ ]:
# List Data Science Libraries

**Some of the commonly used libraries used by Data Scientists include:**

**1 . Panda**

**2 . Numpy**

**3 . Matplotlib**

**4 . SciPy**

**5 . TensorFlow**

**6 . SciKit-Learn**

In [ ]:
# Table of Data Science Tools

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|R Studio|
|Zeppelin Notebook|

In [ ]:
# Introducing Arithmetic Expression examples

### Below are a few examples of evaluating arithmetic expressions in python:

(9+8) = 17 #addition of two numbers

(9-8) = 1  #substraction of two numbers

(9*8) = 72  #multiplication of two numbers
 
(9/8) = 1.125 #division of two numbers

In [ ]:
# Multiply and add numbers

In [2]:
(3*4)+5     #This is a simple arithmetic expression to multiply then add integers

17

In [ ]:
# Convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by dividing by 60
(200/60)

3.3333333333333335

In [ ]:
# Indicate author's name

## Author
Rahul